.editor{
    background-color: #292929;
    padding: 5px;
    color:#fff;
    display: flex;
    padding: 5px 0;
}
.editor input{
    margin:10px 0;
}
select{
    margin: 10px 0;
}

#reset{
    background-color: #242220;
  color: #929292;
  border: 1px solid #929292;
  letter-spacing: 3px;
}

.inputField{
    margin: 20px 0;
    padding: 5px 0;
    background-color: #252525
}

.editor input{
    margin: 1px
}