#register {
    display: flex;
    justify-content: center;
  }
  #registerform {
    background-color: #2a2a30;
    padding: 20px;
  }
  #register input {
    background-color: #181a1b;
    border: inset #656c6e;
    color: #fff;
    margin: 5px 0;
  }
  button {
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  