#login {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
#loginform {
  background-color: #242220;
  padding: 20px;
}
#loginform h3{
  text-align: center
}
#login input {
  background-color: #00000000;
  border: inset #656c6e;
  color: #fff;
  border: 1px solid #929292;
}
.loginButton{
  background-color: #242220;
  color: #929292;
  border: 1px solid #929292;
  letter-spacing: 3px;
}
a {
  text-decoration: none;
  color: black;
}
#buttonContainer{
  display:flex;
  justify-content: space-evenly;
}
